@import url('https://fonts.google.com/specimen/PT+Sans');
body {
    font-family: serif;
    max-width: 960px;
    padding: 20px;
}

.root{
    --primary-color: #396e94
    --secondary-color: #e7c24f;
    --accent1-color: ##a43312;
    --accent2-color: ##381d2a;

    --heading-font: serif;
    --paragraph-font: serif;
    --nav-background-color: #765e76;
    --nav-link-color: #245c24;
    --nav-hover-link-color: #567e65;
    --nav-hover-background-color: #888c88;
}

body{
    f________: Georgia;
    m________: _______;
    p________: ________;
}

h1, h2, h3, h4, h5, h6{
    font-family: Georgia, serif;
}

header {
    padding: 200px;
    background-color: rgb(255, 255, 128);
}
p {
    padding: 25px 
}
nav {
    background-color:  #74992e; font-size: 1.2rem;  display: flex
}
    nav a {
        display: block;
        color:  #00a400;
        text-decoration: none;
        padding: 1rem;
    }

    nav a:link, nav a:visited {
        color: hsl(30deg 82% 43%);
    }
    nav a:hover {
        color:  #00a400;
        background-color:  #74992e;
    }