@import url('https://fonts.googleapis.com/css?family%20Tangerine');
body {
    font-family: var(serif);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #396e94
    --secondary-color: #e7c24f;
    --accent1-color: #a43312;
    --accent2-color: #381d2a;

    --heading-font: serif;
    --paragraph-font: serif;

    --nav-background-color: #765e76;
    --nav-link-color: #245c24;
    --nav-hover-link-color: #567e65;
    --nav-hover-background-color: #854c85;
}

body{
    font-family: var(serif);
    max-width: serif;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--serif);
    color: var(---#396e94);
}

header {
    padding: 200px;
    background-color: var(--#a43312);
}

p {
    padding: 25px 
}

nav {
    background-color: var(--#765e76); 
    font-size: 1.2rem;  
    display: flex
}

    nav a {
        display: block;
        color:  var(--#567e65);
        text-decoration: none;
        padding: 1rem;
    }

    nav a:link, nav a:visited {
        color: var(--#567e65);
    }

    nav a:hover {
        color: var(--#567e65);
        background-color: var(--#854c85);
    }