* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 

nav {
    background-color: var(--nav-bg-color);
    padding: 10px;
}

nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

h1 {
    color: steelblue;
    padding: .5rem;
}

main {
    max-width: 640px;
}

main img {
    width: 150px
    height auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside{
    width: 20em;
    text-align: center;
    position: relative;
}

aside img{
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}




.main img{
    float: right;
    margin-left: 1rem;
}

p {padding:0;}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
/* Class Selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    background-color: #ddd; /* Change to your desired color */
    color: #000; /* Change to your desired color */
    border: 1px solid rgba(0,0,0,.1); /* Optional, for visual separation */
  }
  aside{
    width:20em;
    text-align: center;
  }
  aside {
    position: relative;
  }
  
  aside h2 {
    position: absolute;
    top: 10px; /* Adjust as necessary */
    left: 10px; /* Adjust as necessary */
    background-color: rgba(0, 0, 0, 0.5); /* Optional for better readability */
    color: #fff; /* Ensure text is readable */
    padding: 0.5rem; /* Optional for spacing */
  }
  
  