@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Open+Sans:wght@400;700&display=swap');
:root {
    --primary-color: #396e94;
    --secondary-color: #e7c24f;
    --accent1-color: #a43312;
    --accent2-color: #381d2a;
    --heading-font: 'Lora', serif;
    --paragraph-font: 'Open Sans', sans-serif;
    --nav-bg-color: var(--primary-color);
    --nav-link-color: #ffffff;
    --nav-hover-link-color: var(--secondary-color);
    --nav-hover-bg-color: var(--accent1-color);
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    margin: 0 auto;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    margin: 0 auto;
}

header {
    padding: 20px;
    background-color: var(--primary-color);
    color: #ffffff;
}

header h1 {
    margin: 0;
    font-family: var(--heading-font);
}

header div {
    font-family: var(--paragraph-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    padding: 10px 0;
}

nav {
    background-color: var(--nav-bg-color);
    padding: 10px;
}

nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    margin-right: 15px;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-bg-color);
    padding: 5px;
}
main {
    max-width: 840px;
}

aside{
    width: 20em
    margin-1rem;
    border: 1px solid rgba(0, 0, 0, 0.2); /* 1 */
    padding: 1rem;
    background-color:  #eee;
    color: #333;
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
}

main img {
    width: 150px
    height auto;
}

p {padding:0;}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
