* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Merriweather:wght@400;700&display=swap');

:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --accent-color: #e74c3c;
    --additional-accent-color: #f1c40f;
    --heading-font: 'Merriweather', serif;
    --paragraph-font: 'Roboto', sans-serif;
    --nav-bg-color: #333;
    --nav-link-color: #fff;
    --nav-hover-link-color: #3498db;
    --nav-hover-bg-color: #444;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--secondary-color);
    color: white;
}

p {
    padding: 10px 0;
}

nav {
    background-color: var(--nav-bg-color);
    padding: 10px;
}

nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-bg-color);
}

main {
    max-width: 840px;
}

aside{
    width: 20em
    margin-1rem;
    border: 1px solid rgba(0, 0, 0, 0.2); /* 1 */
    padding: 1rem;
    background-color:  #eee;
    color: #333;
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
}

main img {
    width: 150px
    height auto;
}

p {padding:0;}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
/* Class Selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    background-color: #ddd; /* Change to your desired color */
    color: #000; /* Change to your desired color */
    border: 1px solid rgba(0,0,0,.1); /* Optional, for visual separation */
  }
  aside{
    width:20em;
    text-align: center;
  }
  